{% extends 'base.html' %}

<!-- ADD ANOTHER SET OF BLOCKS OR DIVS OR WHATEVER UNDER THE EXISTING ONES WITH MORE STUFF-->
<!-- ADD SUB-TOPICS TO EACH SUBJECT (SCIENCE -> BIO, CHEM, PHYSICS, GEN ETC)-->
<!-- ADD THE HIGJLIGHT OVER THE CURRENT PAGE FOR BOTH MATH AND SCIENCE PAGES -->

{% block title %} MSCIPro - Science {% endblock %}

{% block science %}

<link rel="stylesheet" href="static/Subject Styling/sciencestyling.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>

<div id="jumper"></div>
<center> <button data-target="jumper2" id="btn-bottom"> To Bottom </button> </center>


<div class="boxes">


    <div id="exams"> 
        <center> <h2> <u> Contest/Exam Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li><a href="https://www.sofolympiadtrainer.com/nso-sample-papers.jsp" id="hover-link" target="_blank">National Science Olympiad</a></li>
                <li><a href="https://olympiadhelper.com/international-olympiad-of-science" id="hover-link" target="_blank">International Science Olympiads</a></li>
                <li><a href="https://science.osti.gov/wdts/nsb/Regional-Competitions/Resources/HS-Sample-Questions" id="hover-link" target="_blank">Science Bowl</a></li>
                <li><a href="https://sciencetalentsearch.smapply.org/res/p/resources/" id="hover-link" target="_blank">Regeneron Science Talent Search</a></li>
                <li><a href="https://www.usabo-trc.org/sites/default/files/allfiles/USABO%20Past%20Exams_0.pdf" id="hover-link" target="_blank">USA Biology Olympiad (USABO) (PDF) </a></li>
                <li><a href="https://www.aapt.org/physicsteam/2020/pastexams.cfm" id="hover-link" target="_blank">USA Physics Olympiad</a></li>                
            </ul>
        </div>

    </div>

    <div id="pracprob"> 
        <center> <h2> <u> Teacher Resources </u>  </h2> </center>

        <div class="pracproblist">
            <ul> 
                <li><a href="#" id="hover-link">Grade 1</a></li>
                <li><a href="#" id="hover-link">Grade 2</a></li>
                <li><a href="#" id="hover-link">Grade 3</a></li>
                <li><a href="#" id="hover-link">Grade 4</a></li>
                <li><a href="#" id="hover-link">Grade 5</a></li>
                <li><a href="#" id="hover-link">Grade 6</a></li>
                <li><a href="#" id="hover-link">Grade 7</a></li>
                <li><a href="#" id="hover-link">Grade 8</a></li>
                <li><a href="#" id="hover-link">Grade 9</a></li>
                <li><a href="#" id="hover-link">Grade 10</a></li>
                <li><a href="#" id="hover-link">Grade 11</a></li>
                <li><a href="#" id="hover-link">Grade 12</a></li>
                <li><a href="#" id="hover-link">University (1-4)</a></li>                
            </ul>    
        
       </div>

    </div>

    <div id="ofgrwork"> 
        <center> <h2> <u> Official Grade Work (Ontario) </u> </h2> </center>

        <div class="ofgrworklist">
            <ul> 
                <li><a href="#" id="hover-link">Grade 1</a></li>
                <li><a href="#" id="hover-link">Grade 2</a></li>
                <li><a href="#" id="hover-link">Grade 3</a></li>
                <li><a href="#" id="hover-link">Grade 4</a></li>
                <li><a href="#" id="hover-link">Grade 5</a></li>
                <li><a href="#" id="hover-link">Grade 6</a></li>
                <li><a href="#" id="hover-link">Grade 7</a></li>
                <li><a href="#" id="hover-link">Grade 8</a></li>
                <li><a href="#" id="hover-link">Grade 9</a></li>
                <li><a href="#" id="hover-link">Grade 10</a></li>
                <li><a href="#" id="hover-link">Grade 11</a></li>
                <li><a href="#" id="hover-link">Grade 12</a></li>
                <li><a href="#" id="hover-link">University (1-4)</a></li>
                <li><a href="#" id="hover-link">University (4-6/8)</a></li>                
            </ul>    
       </div>
    </div>

    <div id="rsrcs"> 
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul> 
                <li><a href="https://www.nasa.gov/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-1" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> NASA </a></li>
                <li><a href="https://www.nationalgeographic.com/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-2" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> National Geographic</a></li>
                <li><a href="https://www.khanacademy.org/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-3" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> Khan Academy</a></li>
                <li><a href="https://www.sciencenews.org/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-4" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> Science News</a></li>
                <li><a href="https://www.sciencedaily.com/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-5" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> ScienceDaily</a></li>
                <li><a href="https://www.scientificamerican.com/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-6" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> Scientific American</a></li>
                <li><a href="https://www.nsf.gov/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-7" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> National Science Foundation</a></li>
                <li><a href="https://www.exploratorium.edu/" id="hover-link" target="_blank"><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-8" onclick="flagPressed"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> The Exploratorium</a></li>                
            </ul>    
        
       </div>

    </div>
</div>

<center> <button data-target="jumper" id="btn-top"> To Top </button> </center>
<div id="jumper2"></div>

<script>

var flagElements = document.getElementsByClassName("flag");

for (var i=0; i < flagElements.length; i++) {
    if (localStorage.getItem(flagElements[i].id) == 'flagged') {
        document.getElementById(flagElements[i].id).style.backgroundColor = "pink";
    }
}

for (var i=0; i < flagElements.length; i++) {
    flagElements[i].addEventListener("click", flagPressed);
}

function flagPressed(event) {
    var clickedFlag = event.currentTarget; // fixes parent/child issue (.target checks the id of the li rather than the button id)
    var flagId = clickedFlag.id;
    if (localStorage.getItem(flagId) == null) {
        localStorage.setItem(flagId, 'not-flagged')
    } else {
        if (localStorage.getItem(flagId) == 'not-flagged') {
            localStorage.setItem(flagId, 'flagged')
            document.getElementById(flagId).style.backgroundColor = "pink";
        } else {
            localStorage.setItem(flagId, 'not-flagged')
            document.getElementById(flagId).style.backgroundColor = "grey";
        }
    }
}

</script>

{% endblock %}