/* MAIN PAGE COLOURS */
#mainpage {

    background-color:black;
    color:white;
    min-width:1920px;
    background-image: linear-gradient(to right, #FFFFFF, #4E8098), url('MSCIPRO%20(1).png');
    background-size:1920px 300px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    z-index:4;

}

.main_title {
    font-size: 40px;
    font-family: "Verdana", sans-serif;
    color:#00A9A5;
    z-index:4;
}

/* SIGN UP AND LOG IN BUTTONS */

.account_button_container {
    position: relative;
}

/* ARTICLE STYLING */

#article_1_image {
    padding-top:425px;
    padding-left:100px;
}

#article_1_title {
    padding-left:430px;
    margin-top: -260px;
}

#article_1_content {
    padding-left:428px;
}



.manage_account {

    position:absolute;
    top: -75px;
    right: 0;
    transform: translate(-60%,0);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1280px-Image_created_with_a_mobile_phone.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;

    padding:15px 15px;
    background-color: #2c3e50;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
    z-index:2;

}

.subject_link {
    position:relative;
    z-index:2;
}



/* SUBJECT LINKS */


.math_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(30%,0);
    z-index:2;

}

.science_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(175%, 0);
    z-index:2;
}

.programming_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(200%,0);
    z-index:2;
}

/* LEARN MORE BUTTON MAIN PAGE */

.learn_more {
    position:relative;
}

.learn_more_button {
    position:absolute;
    transform:translate(380%,0);
    top:300px;
    font-size:25px;
    padding: 10px 15px;
    text-align:center;
    right:1480px;
    border-radius:10px;
    background-color:#90C2E7;
    font-family: Arial, sans-serif;
    z-index:2;


}


/* NEWS */



.imagetest{
    position:absolute;
    top:0;
    left:50%;
    length:100px;
    transform:translateX(-50%);
    width:1920px;
    height:300px;
    object-fit:cover;
    z-index:1;
    padding-bottom:100px;
}