@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@300&display=swap');


::-webkit-scrollbar{
    display:none;
}


.full-body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-body #register {
    margin-top:8%;
    font-size:small;
}

.register-container {
    background-color: rgba(255,255,255,0.2);
    color:white;
    padding: 30px;
    border: 5px solid rgb(78, 77, 77);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top:11%;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit_button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:8%;
}