body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}



.main_title {
    color: #FFFFFF;
    display:flex;
    font-family: "Crimson Text", serif;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.container_box {
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
    border-radius:15px;
}

.github {
    margin-top:225px;
}

.youtube {
    margin-top:50px;
}

.instagram {
    margin-top:50px;
}
