{% extends 'base.html' %}

{% block title %} MSCIPro - Programming {% endblock %}

{% block math %}

<link rel="stylesheet" href="static/Subject Styling/programmingstyling.css" crossorigin="anonymous">
<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>

<div id="jumper"></div>
<center> <button data-target="jumper2" id="btn-bottom"> To Bottom </button> </center>

<div class="boxes">
    <div id="grwork"> 
       <center> <h2> <u> Unofficial Grade Work </u> </h2> </center>

       <div class="grworklist">
            <ul> 
                <li> <a href="/" id="hover-link"> Grade 6 </a></li>
                <li> <a href="/" id="hover-link"> Grade 7 </a> </li>
                <li> <a href="/" id="hover-link"> Grade 8 </a> </li>
                <li> <a href="/" id="hover-link"> Grade 9 </a> </li>
                <li> <a href="/" id="hover-link"> Grade 10 </a> </li>
                <li> <a href="/" id="hover-link"> Grade 11 </a> </li>
                <li> <a href="/" id="hover-link"> Grade 12 </a> </li>
                <li> <a href="/" id="hover-link"> University (1-4) </a> </li>
            </ul>    
        
       </div>

    </div>

    <div id="exams"> 
        <center> <h2> <u> Competition Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li><a href="/" id="hover-link">Google Code Jam</a></li>
                <li><a href="/" id="hover-link">Google Kick Start</a></li>
                <li><a href="/" id="hover-link">Facebook Hacker Cup</a></li>
                <li><a href="/" id="hover-link">Waterloo CCC</a></li>
                <li><a href="/" id="hover-link">HackerEarth</a></li>
                <li><a href="/" id="hover-link">Microsoft Imagine Cup</a></li>
            </ul>
        </div>

    </div>

    <div id="pracprob"> 
        <center> <h2> <u> General Practice Problems </u>  </h2> </center>

        <div class="pracproblist">
            <ul> 
                <li><a href="/" id="hover-link">Novice</a></li>
                <li><a href="/" id="hover-link">Intermediate</a></li>
                <li><a href="/" id="hover-link">Proficient</a></li>
                <li><a href="/" id="hover-link">Advanced</a></li>
                <li><a href="/" id="hover-link">Expert</a></li>
                <li><a href="/" id="hover-link">Master</a></li>
                <li><a href="/" id="hover-link">Rank Bridging test</a></li>            
            </ul>    
       </div>
    </div>

    <div id="rsrcs"> 
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul> 
                <li><a href="#" id="hover-link">Codecademy</a></li>
                <li><a href="#" id="hover-link">LeetCode (Intermediate+)</a></li>
                <li><a href="#" id="hover-link">Coursera</a></li>
                <li><a href="#" id="hover-link">edX</a></li>
                <li><a href="#" id="hover-link">FreeCodeCamp (highly recommended)</a></li>
                <li><a href="#" id="hover-link">Codewars (highly recommended)</a></li>
                <li><a href="#" id="hover-link">Sololearn</a></li>                
            </ul>    
        
       </div>

    </div>
</div>

<center> <button data-target="jumper" id="btn-top"> To Top </button> </center>
<div id="jumper2"></div>

{% endblock %}