{% extends 'base.html' %}

{% block title %} MSCIPro - Programming {% endblock %}

{% block math %}

<link rel="stylesheet" href="static/Subject Styling/programmingstyling.css" crossorigin="anonymous">
<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>

<div id="jumper"></div>
<center> <button data-target="jumper2" id="btn-bottom"> To Bottom </button> </center>

<div class="boxes">
    <div id="grwork"> 
       <center> <h2> <u> Unofficial Grade Work </u> </h2> </center>

       <div class="grworklist">
            <ul> 
                <li> <a href="/" id="hover-link"> Grade 6 </a></li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>
                <li> University (1-4) </li>
            </ul>    
        
       </div>

    </div>

    <div id="exams"> 
        <center> <h2> <u> Competition Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li> Google Code Jam </li>
                <li> Google Kick Start </li>
                <li> Facebook Hacker Cup </li>
                <li> Waterloo CCC </li>
                <li> HackerEarth </li>
                <li> Microsoft Imagine Cup </li>
            </ul>
        </div>

    </div>

    <div id="pracprob"> 
        <center> <h2> <u> General Practice Problems </u>  </h2> </center>

        <div class="pracproblist">
            <ul> 
                <li> Novice </li>
                <li> Intermediate </li>
                <li> Proficient </li>
                <li> Advanced </li>
                <li> Expert </li>
                <li> Master </li>
                <li> Rank Briding test </li>
            </ul>    
       </div>
    </div>

    <div id="rsrcs"> 
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul> 
                <li> Codecademy </li>
                <li> LeetCode (Intermediate+) </li>
                <li> Coursera </li>
                <li> edX </li>
                <li> FreeCodeCamp (highly recommended) </li>
                <li> Codewars (highly recommended) </li>
                <li> Sololearn </li>
            </ul>    
        
       </div>

    </div>
</div>

<center> <button data-target="jumper" id="btn-top"> To Top </button> </center>
<div id="jumper2"></div>

{% endblock %}