
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@300&family=Sometype+Mono:wght@500&display=swap');

::webkit-scroll{
    display:none;
}


@media (max-width: 800px) {
    .link-container .boxes {
      flex-direction: column; 
      align-items: center; 
    }

    .link-container a {
      display: flex; 
      align-items: center; 
      padding-top: 15px; 
      padding-bottom: 15px;
    }
  }

@media (min-width: 1000px) {
    .link-container a{
        padding-left:20px;
    }
}

.full-body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container {
    background-color: rgba(255,255,255,0.2);
    padding: 30px;
    border-radius: 10px;
    border: 5px solid rgb(78, 77, 77);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:white;
    text-align: center;
    margin-top:13%;
}

.link-container a {
    font-family: 'Josefin Sans', sans-serif;
    font-size:250%;
    color: white;
}


