{% extends 'base.html' %}

{% block title %} MSCIPro - Calculator {% endblock %}

{% block calculator %}

<body id="calc-page">

<center>

    <div id="info">
        <button style="width:100px;height:40px;" id="close-btn"> &times; </button>
        <p style="padding-top:30px;"> This is an 11-digit calculator. It functions the same as a regular calculator, just much more basic. More functionality can be found in other calculators (still in development)</p>
    </div>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Digital-7&display=swap">
    <link rel="stylesheet" href="static/Subject Styling/calculatorstyling.css" crossorigin="anonymous">

    <title> MSCIPro - Calculator </title>

    <div class="calculator-screen" id="screen"> <center> 0 </center> </div>
    <div class="calculator-base">
        <div class="num-btns">
            <div class="button" onclick="appendToScreen('1')">1</div>
            <div class="button" onclick="appendToScreen('2')">2</div>
            <div class="button" onclick="appendToScreen('3')">3</div>
            <div class="button" onclick="appendToScreen('4')">4</div>
            <div class="button" onclick="appendToScreen('5')">5</div>
            <div class="button" onclick="appendToScreen('6')">6</div>
            <div class="button" onclick="appendToScreen('7')">7</div>
            <div class="button" onclick="appendToScreen('8')">8</div>
            <div class="button" onclick="appendToScreen('9')">9</div>
            <div class="button" onclick="appendToScreen('0')">0</div>

            <div class="button" onclick="appendToScreen('+')">+</div>
            <div class="button" onclick="appendToScreen('-')">-</div>
            <div class="button" onclick="appendToScreen('*')">*</div>
            <div class="button" onclick="appendToScreen('/')">/</div>

            <div class="button" id="clear" onclick="clearScreen()">CLS</div>
            <div class="button" onclick="calculate()">=</div>

            <div class="button"></div>
            <div class="button"></div>

        </div>
    </div>

    

  </center>
</body>  

<script>

    // check screen size

    function isMobileDevice() {
    return window.innerWidth <= 767; 
}

// initialize variables either here or from page

var total = 0;
var added = 0;
var mainpage = document.getElementById("mainpage");
var close = document.getElementById("close-btn");
var infof = document.getElementById("info");

// close modal btn function

close.addEventListener("click", function() {
    infof.style.display = "none";
})

// alert and close page if user on a mobile device (<767vw)

if (isMobileDevice()) {
    mainpage.style.display = "none";
    alert("Please use a different device with a larger screen to access our calculator.")
    window.location.href = "/"
}

// append the entered values to the calculator screen

function appendToScreen(value) {
    var screen = document.getElementById("screen");

    if (screen.textContent.length > 11) {
        alert("Too long! Current maximum is 11 digits!") // display alert to notify user of small screen size
        screen.textContent = 0; // hide screen or full page
    } else {

        if (screen.textContent == '0' || screen.textContent == 0) {
            screen.textContent = "";
            screen.textContent += value;
        } else {
            screen.textContent += value;
        }

    }
}

    // clear calculator screen function

    function clearScreen() {
        var screen = document.getElementById("screen");
        screen.textContent = "0"; // resets screen (calculator) to a default value of 0
    }

    // calculate entered integers function

    function calculate() { 
        var screen = document.getElementById("screen");
        var expression = screen.textContent;

        // use a try-catch method to check for valid/invalid input

        try {
            var result = eval(expression); // evaluate the entered expression if valid
            screen.textContent = result; // display result
        } catch (error) {
            alert("Invalid expression"); // display an alert to notify user of invalid expression
            screen.textContent = "0"; // reset the calculator screen
        }
    }
    
</script>

{% endblock %}
