{% extends 'base.html' %}

{% block title %} MSCIPro - Mathematics {% endblock %}

{% block math %}

<link rel="stylesheet" href="static/Subject Styling/mathstyling.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>
<script src="{{ url_for('static', filename='Subject Scripts/math/math.js') }}"></script>


<div id="jumper"></div>
<center> <button data-target="jumper2" id="btn-bottom"> To Bottom </button> </center>

<div class="boxes">

    <div id="exams">
        <center> <h2> <u> Exam Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li> <button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-1"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> <a href="#" id="open-modal" id="hover-link" style="background: linear-gradient(45deg, #333333, #555555); -webkit-background-clip: text; color: transparent; font-size: 20px; font-weight: bold; "> SAT </a> </li>
                <div id="myModal" class="modal" style="width:15%;height:35%;margin-top:5%;margin-left:35%;overflow-y:scroll;">
                    <div class="modal-content" style="background-color:rgb(194, 194, 194);">
                      <span style="margin-left:50%;margin-top:5%;font-size:125%;cursor:pointer;" class="close">&times;</span>

                      <ul>
                        <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-2"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> <a href="https://satsuite.collegeboard.org/sat/practice-preparation/practice-tests" target="_blank"> CollegeBoard SAT Full-Length </a> </li>
                        <li> <button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-3"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a href="https://www.khanacademy.org/test-prep/sat/full-length-sat-1" target="_blank" > Khan Academy SAT Practice Test </a> </li>
                      </ul>

                    </div>
                </div>


                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-4" ><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a href="https://www.act.org/content/act/en/products-and-services/the-act/test-preparation/math-practice-test-questions.html?page=0&chapter=0" target="_blank" id="hover-link">  ACT </a> </li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-5" ><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> <a href="https://www.kaptest.com/gre/free/free-gre-practice-test" target="_blank" id="hover-link"> GRE </a> </li>
                <li> <button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-6"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a href="https://www.mba.com/exam-prep/gmat-official-starter-kit-practice-exams-1-and-2-free" target="_blank" id="hover-link"> GMAT </a> </li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-7" ><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> <a href="https://www.appracticeexams.com/" target="_blank" id="hover-link"> AP </a> </li>
            </ul>
        </div>

    </div>

    <div id="ourresources">
        <center> <h2> <u> Our Resources </u>  </h2> </center>

        <div class="ourresourcelist">
            <ul>
                <li> <button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-8"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a href="/arithmetic" id="hover-link"> Practice Problems </a> </li>
                <li> <button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-9"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button> <a href="/calculator" id="hover-link"> 11-Digit Calculator </a> </li>
            </ul>
       </div>

    </div>

    <div id="ofgrwork">
        <center> <h2> <u> Official Grade Work (Ontario) </u> </h2> </center>

        <div class="ofgrworklist">
            <ul>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-10"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary" id="hover-link">Grade 1</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-11"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 2</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-12"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 3</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-13"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 4</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-14"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 5</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-15"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 6</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-16"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link"> Grade 7</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-17"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#elementary"id="hover-link">Grade 8</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-18"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#secondary" id="hover-link">Grade 9</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-19"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#secondary" id="hover-link">Grade 10</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-20"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#secondary" id="hover-link">Grade 11</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-21"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.dcp.edu.gov.on.ca/en/curriculum#secondary" id="hover-link">Grade 12</a></li>
            </ul>

       </div>

    </div>

    <div id="rsrcs">
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-22"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.khanacademy.org/" id="hover-link"> Khan Academy</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-23"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.wolframalpha.com/" id="hover-link">Wolfram Alpha</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-24"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.coursera.org/" id="hover-link">Coursera</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-25"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://brilliant.org/" id="hover-link">Brilliant</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-26"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.purplemath.com/" id="hover-link">Purplemath</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-27"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://ocw.mit.edu/index.htm" id="hover-link">MIT OCW</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-28"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="http://tutorial.math.lamar.edu/" id="hover-link">Paul's Online Math Notes</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-29"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.desmos.com/" id="hover-link">Desmos</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-30"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://mathworld.wolfram.com/"  id="hover-link">Wolfram MathWorld</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-31"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.geogebra.org/" id="hover-link">Geogebra</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-32"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://www.mathway.com/" id="hover-link">Mathway</a></li>
                <li><button style="font-size:1px;margin-right:2%;background-color:grey;" class="flag" id="flag-33"><span style="font-size:15px;" class="material-symbols-outlined"> flag </span> </button><a target = "_blank" href="https://projecteuler.net/" id="hover-link">Project Euler</a></li>
            </ul>

       </div>

    </div>
</div>

<center> <button data-target="jumper" id="btn-top"> To Top </button> </center>
<div id="jumper2"></div>

{% endblock %}

