{% extends 'base.html' %}

{% block title %} MSCIPro - Mathematics {% endblock %}

{% block math %}

<link rel="stylesheet" href="static/Subject Styling/mathstyling.css" crossorigin="anonymous">
<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>


<div id="jumper"></div>
<center> <button data-target="jumper2" id="btn-bottom"> To Bottom </button> </center>

<div class="boxes">
    <div id="grwork"> 
       <center> <h2> <u> Unofficial Grade Work </u> </h2> </center>
       <div class="grworklist">
            <ul> 
                <li> Grade 1 </li>
                <li> Grade 2 </li>
                <li> Grade 3 </li>
                <li> Grade 4 </li>
                <li> Grade 5 </li>
                <li> Grade 6 </li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>
                <li> University (1-4) </li>
                <li> University (4-6/8) </li>
                <li> University (6+) </li>
                <li> Workplace Mathematics </li>

            </ul>    
        
       </div>

    </div>

    <div id="exams"> 
        <center> <h2> <u> Exam Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li> SAT </li>
                <li> ACT </li>
                <li> GRE </li>
                <li> GMAT </li>
                <li> AP </li>
                <li> Please suggest more exams! </li>
            </ul>
        </div>

    </div>

    <div id="pracprob"> 
        <center> <h2> <u> General Practice Problems </u>  </h2> </center>

        <div class="pracproblist">
            <ul> 
                <li> Grade 1 </li>
                <li> Grade 2 </li>
                <li> Grade 3 </li>
                <li> Grade 4 </li>
                <li> Grade 5 </li>
                <li> Grade 6 </li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>

            </ul>    
        
       </div>

    </div>

    <div id="ofgrwork"> 
        <center> <h2> <u> Official Grade Work (Ontario) </u> </h2> </center>

        <div class="ofgrworklist">
            <ul> 
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 1</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 2</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 3</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 4</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 5</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-1-8">Grade 6</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-7-8">Grade 7</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-7-8">Grade 8</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-9-12">Grade 9</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-9-12">Grade 10</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-9-12">Grade 11</a></li>
                <li><a target = "_blank" href="https://www.ontario.ca/page/ontario-curriculum-grades-9-12">Grade 12</a></li>
            </ul>    
        
       </div>

    </div>

    <div id="rsrcs"> 
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul> 
                <li><a target = "_blank" href="https://www.khanacademy.org/">Khan Academy</a></li>
                <li><a target = "_blank" href="https://www.wolframalpha.com/">Wolfram Alpha</a></li>
                <li><a target = "_blank" href="https://www.coursera.org/">Coursera</a></li>
                <li><a target = "_blank" href="https://brilliant.org/">Brilliant</a></li>
                <li><a target = "_blank" href="https://www.purplemath.com/">Purplemath</a></li>
                <li><a target = "_blank" href="https://ocw.mit.edu/index.htm">MIT OCW</a></li>
                <li><a target = "_blank" href="http://tutorial.math.lamar.edu/">Paul's Online Math Notes</a></li>
                <li><a target = "_blank" href="https://www.desmos.com/">Desmos</a></li>
                <li><a target = "_blank" href="https://mathworld.wolfram.com/">Wolfram MathWorld</a></li>
                <li><a target = "_blank" href="https://www.geogebra.org/">Geogebra</a></li>
                <li><a target = "_blank" href="https://www.mathway.com/">Mathway</a></li>
                <li><a target = "_blank" href="https://projecteuler.net/">Project Euler</a></li>
            </ul>    
        
       </div>

    </div>
</div>

<center> <button data-target="jumper" id="btn-top"> To Top </button> </center>
<div id="jumper2"></div>

{% endblock %}

