{% extends 'base.html' %}

{% block title %} MSCIPro - Register {% endblock %}

{% block login %}

<div class="full-body">
<link rel="stylesheet" href="static/Login & Register/registerstyling.css" crossorigin="anonymous">

<div class="register-container">
    <h2 id="h2" style="user-select:none;"> Register </h2>
    <form action="/register" method="post">

        <label for="email" style="user-select: none;">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="username" style="user-select: none;">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password" style="user-select: none;">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" style="user-select:none;" id="submit_button"> Register </button>

        <h3 id="register" style="user-select: none;"> Already have an account? <a href="/login"> Sign in </a> </h3>
    </form>
</div>
</div>

{% endblock %}
