<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin Portal </title>
</head>
<body>

    <div class="input-container">
        <form action="C:\Users\User\Documents\Downloads\htdocs\mscipro\index.php" method="post">
            <center>

                <h2> MSCIPro Admin Portal </h2>

            <label for="admin-username">Username: </label>
            <input type="text" id="admin-username" name="admin-username"> 
            
            <br><br>

            <label for="admin-password"> Password: </label>
            <input type="password" id="admin-password" name="admin-password">

            <br><br>

            <label for="secret-key"> Secret Key: </label>
            <input type="password" id="secret-key" name="secret-key">

            <br><br>

            <button type="submit"> Submit </button>
            
        </center>
        </form>
    </div>
    
</body>
</html>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

    html, body {
        background-color:gray;
        font-family: 'Rubik', sans-serif;
    }

    h2 {
        padding-top:5%;
    }

    button {
        width:90%;
    }
    
    .input-container {
        width:20%;
        height:34vh;
        margin-top:40vh;
        margin-left:40vw;
        background-color:white;
        border-radius:5px;
    }

    #admin-username {
        margin-top:1%;
    }



</style>