<!-- marquee -->

{% extends 'base.html' %}

{% block title %} MSCIPro - Homepage {% endblock %}

{% block homepage %}
 

<link rel="stylesheet" href="{{ url_for('static', filename='Main Pages Styling/homepagestyling.css') }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="{{ url_for('static', filename='totopbottom.js') }}"></script>
<script src="{{ url_for('static', filename='Main Pages Styling/homepagescript.js') }}"></script>


<div id="jumper"></div>

<center> <h2 id="abouth2"> <b> Welcome to MSCIPro! </b></h2></center> 
<center> <h5 id="abouth5"> Welcome! Here at MSCIPro, we provide top-tier STEM resources for both students and educators. </h5> </center>

<center>
<div id="myModal" class="modal" style="margin-top:-5%;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2> Welcome! </h2>
      <p> Thanks for visiting my website! If you have any questions, concerns or anything else, please feel free to <a href="mailto:ritesh.sivanathan@gmail.com"> email me </a>.</p>
      <p> This website uses, HTML, CSS, Python, and Javascript to run. I'm using it as a learning experience to get used to these 4 languages. I plan to utilize more tools and languages like React and Tailwind. </p>
      <h2> Latest feature: resource flagging beta in mathematics </h2>
      
    </div>
</div>
</center>

<center> 

<div class="content-not">
    <div class="container">
        <div class="items">
            <div class="dropdowns" id="math-dropdown"> <h3 id="math-click" style="margin-top:15%;"> Math </h3> </div>
                <div id="math-dropdown-content">
                    <ul>
                        <hr>
                        <li> <a href="/mathematics"> 29 external resources </a> </li>
                        <li> <a href="/arithmetic"> Arithmetic Problem Generator </a> </li>
                        <li> <a href="/calculator"> 11-Digit Calculator </a> </li>
                        <li> Resource flagging </li>
                    </ul>
                </div>
                <hr>
            <div class="dropdowns" id="science-dropdown"> <h3 id="science-click"> Science </h3> </div>
                <div id="science-dropdown-content"> 
                    <hr>
                    <ul>
                        <li> Chemical Equation Quiz (in development) </li>
                    </ul>
                </div>
                <hr>
            <div class="dropdowns" id="programming-dropdown"> <h3 id="programming-click"> Programming </h3> </div>
                <div id="programming-dropdown-content">
                    <hr>
                    <ul>
                        <li> Online Code Compiler (in development) </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

<script>



</script>

<style>


</style>

<div class="totop">
    <button data-target="jumper" id="button_totop"> To Top </button> 
</div>

</center>

<center> <a href="/mathematics"> <button id="started" draggable="false"> Get Started </button> </a> </center>  

{% endblock %}

