/* MAIN PAGE  */

#image1 {
    position: fixed;
    top: 540px;
    left:550px;
    width:10%;
}

#image2 {
    position: fixed;
    top: 58%;
    left: 45%; 
    width:10%;
    
}

#image3 {
    position: fixed;
    top: 58%;
    left: 62%; 
    width:10%;
}

#started {
    margin-top:350px;
    background-color:#336699;
    border:1px solid #fff;
    border-radius:5px;
    height:50px;
    width:200px;
    font-size:25px;
    color: rgb(68, 68, 68);
}

#bannerimg {
    max-width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom:25px solid #355070;
}

.abouth2{
    margin-top:65px;
    font-size:50px;
}

.a:hover{
    color: blue;
}

.article2d{
    position:absolute;
    margin-left:15vh;
    margin-top:21vh;
}

.article1d{
    position:absolute;
    margin-left:15vh;
    margin-top:21vh;
}

#article2 {
    left:85vh;
    position:fixed;
    top: 42vh;
}

#article2text {
    margin-left:300px;
}

.square-text {
    width: 400px; /* Adjust the width as needed */
    background-color: black; /* Background color for the square */
    text-align: center; /* Center-align text horizontally */
    margin-left:350px;
    margin-top:-26vh;
    font-size: 16px; /* Adjust font size as needed */
    display:flex;
  }



body, .welcome {
    background-color: transparent;
}

#article1 {
    margin-left:75px;
    margin-top:80px;
}

.welcome{
    display:inline-block;
    padding-top:65px;
    
}

.desc {
    margin-bottom:100px;
    margin-left:72vh;
}

.navbar {
    height:75px;
    border-bottom: 10px solid #355070;
    background-color: black;
    
}

.navbar-brand{
    text-align:center;
}

#mainpage {

    background-color:black;
    color:white;
    
    
    background-size:1920px 300px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    z-index:4;

}

.main_title {
    font-size: 40px;
    font-family: "Verdana", sans-serif;
    color:#00A9A5;
    z-index:4;
}

/* MANAGE ACCOUNT BUTTONS  */

.account_button_container {
    position: relative;
    transition: background-color 0.3s ease;
}

.account_button_container:hover {
    background-color: white;
    color: #4CAF50;
}

.manage_account {

    position:absolute;
    top: -85px;
    right: 0;
    transform: translate(-30%,0);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;

    padding:10px 20px;
    background-color: #000000;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    z-index:2;

    transition: background-color 0.3s ease;



}

.manage_account:hover {
  background-color: #000060;
  color: white;
}

/* ARTICLE STYLING */

#article_1_image {
    padding-top:425px;
    padding-left:100px;
    user-select: none;
}

#article_1_title {
    padding-left:430px;
    margin-top: -260px;
}

#article_1_content {
    padding-left:428px;
}

/* SUBJECT LINKS */

.subject_link {
    position:relative;
    z-index:2;
}

/* SUBJECT LINKS */


.math_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(30%,0);
    z-index:2;
    font-family: "Verdana", sans-serif;

}

.science_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(175%, 0);
    z-index:2;
    font-family: "Verdana", sans-serif;
}

.programming_link{
    position:absolute;
    top:38px;
    font-size:25px;
    transform:translate(200%,0);
    z-index:2;
    font-family: "Verdana", sans-serif;
}

/* LEARN MORE BUTTON MAIN PAGE */

.join_now {
    position:relative;
}

.join_now_button {
    position:absolute;
    transform:translate(380%,0);
    top:270px;
    font-size:25px;
    padding: 10px 15px;
    text-align:center;
    right:1470px;
    border-radius:10px;
    background-color:#90C2E7;
    font-family: Arial, sans-serif;
    z-index:2;
}

.join_now_button:hover {
    cursor:pointer;
}