/* MAIN PAGE  */
/* marquee */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@300&display=swap');

body {
    background-color: transparent;
    overflow: auto;
}


/* GET STARTED pulsing animation */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}

li {
    font-family: 'Raleway', sans-serif;
    color: rgb(204, 204, 204);
}



.subject_container {
    display: inline-block;
    text-align:center;
    margin-top:5%;
    margin-left:3%;
    color:rgb(85, 85, 85);

}

.subject_container img {
    border-radius: 30px;
    border:2px solid white;
}

.subjecttitle {
    display:flexbox;
    margin-top:5%
}

#started {
    margin-top: 5%;
    
    border: 1px solid #fff;
    border-radius: 5px;
    height: 50px;
    width: clamp(150px, 200px, 300px);
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-family: 'Josefin Sans', sans-serif;
    transition: transform 1s ease;
    animation: pulse 15s infinite; 
}



#started:hover {
    transform: scale(1.1);
    animation: none;
}

#bannerimg {
    position:relative;
    width:100%;
    height:30vh;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom:25px solid #355070;
}

.abouth2{
    margin-top:2%;
    font-size:350%;
    font-family: 'Raleway', sans-serif;
    color:#6b6b6b;
}

.abouth5{
    font-family: 'Raleway', sans-serif;
    color:#6b6b6c
}

.a:hover{
    color: blue;
}

.square-text {
    width: 400px; /* Adjust the width as needed */
    background-color: black; /* Background color for the square */
    text-align: center; /* Center-align text horizontally */
    margin-left:350px;
    margin-top:-26vh;
    font-size: 16px; /* Adjust font size as needed */
    display:flex;
  }

.welcome {
    background-color: transparent;
    display:inline-block;
    padding-top:65px;
}

#article1 {
    margin-left:75px;
    margin-top:80px;
}

.desc {
    margin-bottom:100px;
    margin-left:72vh;
}



