{% extends 'base.html' %}

{% block title %} MSCIPro - Mathematics {% endblock %}

{% block math %}

<link rel="stylesheet" href="{{ url_for('static', filename='mathstyling.css') }}" crossorigin="anonymous">

<div class="boxes">
    <div id="grwork"> 
       <center> <h2> <u> Unofficial Grade Work </u> </h2> </center>

       <div class="grworklist">
            <ul> 
                <li> Grade 1 </li>
                <li> Grade 2 </li>
                <li> Grade 3 </li>
                <li> Grade 4 </li>
                <li> Grade 5 </li>
                <li> Grade 6 </li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>
                <li> University (1-4) </li>
                <li> University (4-6/8) </li>
                <li> University (6+) </li>
                <li> Workplace Mathematics </li>

            </ul>    
        
       </div>

    </div>

    <div id="exams"> 
        <center> <h2> <u> Exam Practice </u> </h2> </center>

        <div class="examslist">
            <ul>
                <li> SAT </li>
                <li> ACT </li>
                <li> GRE </li>
                <li> GMAT </li>
                <li> AP </li>
                <li> Please suggest more exams! </li>
            </ul>
        </div>

    </div>

    <div id="pracprob"> 
        <center> <h2> <u> General Practice Problems </u>  </h2> </center>

        <div class="pracproblist">
            <ul> 
                <li> Grade 1 </li>
                <li> Grade 2 </li>
                <li> Grade 3 </li>
                <li> Grade 4 </li>
                <li> Grade 5 </li>
                <li> Grade 6 </li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>

            </ul>    
        
       </div>

    </div>

    <div id="ofgrwork"> 
        <center> <h2> <u> Official Grade Work (Canada) </u> </h2> </center>

        <div class="ofgrworklist">
            <ul> 
                <li> Grade 1 </li>
                <li> Grade 2 </li>
                <li> Grade 3 </li>
                <li> Grade 4 </li>
                <li> Grade 5 </li>
                <li> Grade 6 </li>
                <li> Grade 7 </li>
                <li> Grade 8 </li>
                <li> Grade 9 </li>
                <li> Grade 10 </li>
                <li> Grade 11 </li>
                <li> Grade 12 </li>
                <li> University (1-4) </li>
                <li> University (4-6/8) </li>
            </ul>    
        
       </div>

    </div>

    <div id="rsrcs"> 
        <center> <h2> <u> Resources </u> </h2> </center>

        <div class="grworklist">
            <ul> 
                <li> Khan Academy </li>
                <li> Wolfram Alpha </li>
                <li> Coursera </li>
                <li> Brilliant </li>
                <li> Purplemath </li>
                <li> MIT OpenCourseWare </li>
                <li> Paul's Online Math Notes </li>
                <li> Desmos </li>
                <li> Wolfram MathWorld </li>
                <li> Geogebra </li>
                <li> Mathway </li>
                <li> Project Euler </li>
            </ul>    
        
       </div>

    </div>
</div>
{% endblock %}